.field-group-columns-wrapper {
    display: flex;
}
.field-group-column-wrapper {
    flex: 100%;
    padding: 0 5px;
}
.field-group-column-wrapper:first-child {
    padding-left: 0;
}
.field-group-column-wrapper:last-child {
    padding-right: 0;
}
.field-group-columns--2 .field-group-column-wrapper {
    flex: 50%;
}
.field-group-columns--3 .field-group-column-wrapper {
    flex: 33.33%;
}
.field-group-columns--4 .field-group-column-wrapper {
    flex: 25%;
}
.field-group-columns--5 .field-group-column-wrapper {
    flex: 20%;
}
.field-group-columns--6 .field-group-column-wrapper {
    flex: 16.66%;
}
@media screen and (max-width: 800px) {
    .field-group-columns-wrapper {
        display: block;
    }
    .field-group-column-wrapper {
        padding: 0;
    }
}
@media screen and (max-width: 1200px) {
    .field-group-columns--3,
    .field-group-columns--4,
    .field-group-columns--5,
    .field-group-columns--6 {
        display: block;
    }
    .field-group-columns--3 .field-group-column-wrapper,
    .field-group-columns--4 .field-group-column-wrapper,
    .field-group-columns--5 .field-group-column-wrapper,
    .field-group-columns--6 .field-group-column-wrapper {
        padding: 0;
    }
}
